<% layout("/layout/boilerplate.ejs") %>
<body>
  <style>
    #filters{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .filter{
      text-align: center;
      margin-right: 1rem;
      margin-top: 2rem;
      opacity: 0.7;
    }

    .filter:hover{
      opacity: 1;
      cursor: pointer;
    }
    .filter p{
      font-size: 0.8rem;
    }
    .tax-info{
      display: none;
    }
    .tax-toggle{
      border: 1px solid black;
      border-radius: 1rem;
      height: 3.5rem;
      padding: 1rem;
      margin-left: 2rem;
      display: flex;
      align-items: center;
    }
  </style>
  <div id="filters">
    <div class="filter">
      <div><i class="fa-solid fa-fire"></i></div>
     <p>Treading</<p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-bed"></i></div>
     <p>Rooms</<p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-mountain-city"></i></div>
     <p>Iconic Cities</<p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-mountain"></i></div>
     <p>Mountains</<p>
    </div>
    <div class="filter">
      <div><i class="fa-brands fa-fort-awesome"></i></div>
     <p>Castle</<p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-person-swimming"></i></div>
     <p>Amazing Pools</<p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-campground"></i></div>
     <p>Camping</<p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-tractor"></i></div>
     <p>Farms</<p>
    </div>
    <div class="filter">
      <div><i class="fa-regular fa-snowflake"></i></div>
     <p>Arctic</<p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-igloo"></i></div>
     <p>Domes</<p>
    </div>
    <div class="filter">
      <div><i class="fa-solid fa-ship"></i></div>
     <p>Boat</<p>
    </div>
    <div class="tax-toggle">
      <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">Display total after tax</label>
      </div>
      <!-- <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" checked>
        <label class="form-check-label" for="flexSwitchCheckDefault">Display total after tax</label>
      </div> -->
    </div>
  </div>
    
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for(let listing of allListings) { %>
        <a href="/listing/<%=listing._id%>" class="listing">
    <div class="card col listing-card">
        <div class="card-img-overlay"></div>
        <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_image" style="height: 20rem;">
        <div class="card-body">
          <p class="card-text">
           <b> <%=listing.title%></b><br/>
            &#x20B9; <%=listing.price.toLocaleString("en-IN")%> /night
            <i class="tax-info">&nbsp;&nbsp;+18% GST</i>
            <br/>
            <!-- &#x20B9; <%=listing.price.toLocaleString("en-IN")%><br/> -->
            <!-- <%=listing.title%><br/> -->
          </p>
        </div>
      </div>
    </a>
      <%}%>
    </div>
    <script>
    let taxswitch = document.getElementById("flexSwitchCheckDefault");
    taxswitch.addEventListener("click",()=>{
      let taxInfo = document.getElementsByClassName("tax-info");
      for (info of taxInfo) {
        if(info.style.display !="inline"){
        info.style.display = "inline";
        }
        else{
          info.style.display = "none";
        }
      }
    });
    </script>
</body>